/*font-family: 'Teko', sans-serif;
font-family: 'Montserrat', sans-serif;
 */

/* стили для экрана 1366px */

 * {
-webkit-box-sizing: border-box;
        box-sizing: border-box;
 }


body {
background: #232323;
margin: 0;
font-family: 'Montserrat', sans-serif;
width: 100%;

}

header {
  background: #262626;
  width: 100%;
  height: 78px;
  color: #f8f8f8;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -20px;

}


.container-header {
width: 1060px;
margin-right: auto;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
        -ms-flex-pack: justify;
    justify-content: space-between;
margin-left: auto;
-ms-flex-line-pack: center;
    align-content: center;
-webkit-box-align: center;
        -ms-flex-align: center;
    align-items: center;
margin-top: 20px;

}

.advertisement {
font-size: 12px;
font-weight: 500;

}

.icons {
  margin-right: 10px;
}

.Three_icons {
 margin-right: -1026px;
margin-top: -59px;
-ms-grid-row-align: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.account_circle {
  padding-right: 23px;
}

.Mask_Group_39 {
  padding-right: 23px;
}

.Mask_Group_01 {
    
}

 #block-1 {
padding-top: 36px;
background-image: url('img/main_1/harley-davidson-1Lg7p5hC2pI-unsplash.png');
width: 100%;
height: 700px;
background-size: cover;
background-position: center;
}

.block-1__container {
  margin-bottom: 152px;
  
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;
  -webkit-box-pack: justify;
          -ms-flex-pack: justify;
      justify-content: space-between;
}

.block-1__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
          -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: center;
          -ms-flex-align: center;
      align-items: center;
  width: 1060px;
  margin-left: auto;
  margin-right: auto;
}

.block-1__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
          -ms-flex-pack: justify;
      justify-content: space-between;
}

.block-1__button {
  
  
}

.block-1__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
-webkit-box-pack: center;
        -ms-flex-pack: center;
    justify-content: center;
  width: 60%;
}

.nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  }

.main_nav-link {
  color: #404040;
  text-decoration: none;
  font-family: 'Teko', sans-serif;
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  margin-right: 52px;
  }

  .main_nav-link {
    position: relative;
    padding-right: 52px;
  }

.main_nav__link-link {
color: #404040;
}

 .main_nav-link:hover {
color: #004cff;
}

.main_nav-link:after {
  position: absolute;
  right: 20px;
  top: 12px;
content: '';
display: block;
width: 5px;
height: 5px;
background: #004cff;
-webkit-transform: rotate(45deg);
        transform: rotate(45deg);
}

 .main_nav-link:after :last-child {
  margin-right: 0;
  list-style: none;
  }


.block-1__button {
  background: #004cff;
  height: 66px;
  padding-left: 14px;
  line-height: 1;
  color: #ffffff;
  font-family: 'Teko', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 23px;
  letter-spacing: 0.45px;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 21px;
  padding-right: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


.block-1__button:hover {
background-color: #0a3fbb;

}

.block-1__promo {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
        -ms-flex-direction: column;
    flex-direction: column;
width: 1060px;
margin-left: auto;
margin-right: auto;
}


.safe_and_cool_motorcyclist {
 margin-bottom: 60px;
 color: #ffffff;
 font-family: 'Teko';
 font-size: 68px;
 font-weight: 700;
 line-height: 72px;
 letter-spacing: 2.73px;
 max-width: 400px;
}

.block-1__promo__button_anchor {



}


.block-1__promo__button {
 padding-left: 48px;
padding-right: 48px;
width: 265px;
height: 61px;
border: 6px solid #ffffff;
color: #ffffff;
font-size: 18px;
font-weight: 600;
text-transform: uppercase;
display: inline-block;
text-decoration: none;
 padding-top: 13px;
}


.block-1__promo__button:hover {
color: #ffd03b;
border-color: #ffd03b;
-webkit-transition: background-color 0.2s ease-in;
transition: background-color 0.2s ease-in;

}

.anchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:end;
          -ms-flex-pack:end;
      justify-content:end;
}

.Block-2__top-block {
padding-top: 44px;
padding-bottom: 60px;

}

.container-wide {
max-width: 1350px;
margin-left: auto;
margin-right: auto;
}

.top-banners__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.banner-first {
position: relative;
height: 400px;
margin-right: 40px;
width: 889px;
}

.banner-image-one {
 width: 100%;
  height: 100%;
}

.banner-first__image--content {
  display: block;
  opacity: 0;
}

.banner-first__image--content:hover {
opacity: 1;
-webkit-transition: 0.3s ease-in;
transition: 0.3s ease-in;

}

.banner-first__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.banner-first__blue--background {
  background-color: rgba(0,76,255,0.75);
  width: 100%;
  height: 100%;
  position: absolute;
   top: 0;
  left: 0;
 
}

.banner-first__THE_FUEL_ROYAL_RALLY {
  position: absolute;
  top: 60px;
  left: 75px;
  width: 390px;
  color: #fff;
  font-family: 'Teko', sans-serif;
  font-size: 68px;
  font-weight: 500;
  line-height: 0.9;
  text-transform: uppercase;
  letter-spacing: 2.73px;
}


.banner-first__discount {
width: 143px;
position: absolute;
right: 38px;
bottom: 30px;
color: #ffffff;
font-family: 'Teko';
font-size: 68px;
font-weight: 700;
line-height: 1;
text-transform: uppercase;
}


.banner-first__discount span {
font-size: 43px;
font-weight: 500;
line-height: 1;
text-transform: uppercase;
}


.banner-second {
 height: 400px;
 width: 417px;
}


.banner-second--image {
width: 100%;
  height: 100%;
}

.banner-second__image--content {
  display: block;
  opacity: 1;
  background-color: rgba(0,76,255,0.75);
  width: 100%;
  height: 100%;
  position: absolute;
   top: 0;
  left: 0;
}


.banner-second__image--content:hover {
 
}

.banner-second__blue--background {

}

.banner-second__THE_FUEL_ROYAL_RALLY {

}


.banner-second__discount {

}

.banner-second__discount span {

}

.bottom-banners__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.banner-third {
  margin-right: 40px;
  width: 417px;
  height: 402px;
}


.banner-third--img {


  width: 100%;
  height: 100%;
}

.banner-fourth {
  display: contents;
  position: relative;
  width: 890px;
  height: 400px;
}

.banner-fourth--img {

  
}

.products {
  padding-top: 60px;
  padding-bottom: 65px;
  
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1270px;
}

.products_title {
  margin-bottom: 45px;
  color: #f1f1f1;
  font-family: 'Teko', sans-serif;
  font-size: 53px;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
}

.products__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
          -ms-flex-pack: center;
      justify-content: center;
  border-bottom: 1px solid #b2b2b2;
  padding-bottom: 45px;
  width: 1060px;
  margin-left: auto;
  margin-right: auto;
}

.products__filter-item {
color: #f1f1f1;
font-family: 'Montserrat', sans-serif;
font-size: 21px;
font-weight: 600;
line-height: 1.3;
text-decoration: none;
margin-right: 45px;
}

.products__filter-item:hover {
color: #0077ff ;

}

.products__filter-item:last-child {
  margin-right: 0;
}

.pictures_of_helmets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
          -ms-flex-pack: justify;
      justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 1060px;
}



.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
 -webkit-box-align: center;
         -ms-flex-align: center;
     align-items: center;
width: 290px;
height: 367px;
background-color: #ffffff;
  -webkit-box-pack: center;
          -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          -ms-flex-direction: column;
      flex-direction: column;
  margin-top: 45px;
}


.cards__img {
width: 251px;
height: 281px;
padding-top: 48px;
padding-bottom: 38px;
padding-left: 44px;
padding-right: 44px;
}

.cards__title {
color: #262626;
font-size: 17px;
font-weight: 400;
line-height: 1.1;
padding-left: 38px;
padding-right: 38px;
margin-bottom: 25px;
}


.cards__price {
color: #004cff;
font-size: 30px;
font-weight: 700;
line-height: 1.25;
margin-bottom: 30px;
padding-left: 107px;
padding-right: 107px;

}

.banners_bottom {
  margin-top: 130px;
}

.banners_bottom__pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
          -ms-flex-pack: justify;
      justify-content: space-between;
  width: 1310px;
}


.banners_bottom__speedometer {
    width: 100%;
    position: relative;
    height: 400px;
    max-width: 1000px;
    margin-right: 40px;
    padding-left: 40px;
}

.speedometer {
 width: 529px;
height: 486px;
}


.banners_bottom__speedometer:hover .banners_bottom__image--content {
  display: block;
  cursor: pointer;
}


.banners_bottom__image--content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}


.banners_bottom__blue--background {
  background-color: rgba(0,76,255,0.75);
  width: 100%;
  height: 100%;
  position: absolute;
   top: 0;
  left: 0;
  display: block;
}

.banners_bottom__THE_FUEL_ROYAL_RALLY {
  position: absolute;
  top: 70px;
  left: 75px;
  width: 384px;
  color: #fff;
  font-family: 'Teko', sans-serif;
  font-size: 60px;
  font-weight: 500;
  line-height: 0.9;
  text-transform: uppercase;
  letter-spacing: 2.73px;
  display: block;
}

.banners_bottom__discount {
width: 143px;
position: absolute;
right: 38px;
bottom: 78px;
color: #ffffff;
font-family: 'Teko';
font-size: 50px;
font-weight: 700;
line-height: 1;
text-transform: uppercase;
display: block;
}


.banners_bottom__Sunset:hover .banners_bottom__Sunset--content {
  display: block;
  cursor: pointer;
}

.banners_bottom__Sunset {
  
  
}

.Sunset {
  width: 696px;
  height: 486px;
}

.banners_bottom__Sunset--content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.banners_bottom__Sunset__blue--background {
  background-color: rgba(0,76,255,0.75);
  width: 100%;
  height: 100%;
  position: absolute;
   top: 0;
  left: 0;
  display: block;
}

.banners_bottom__Sunset__THE_FUEL_ROYAL_RALLY {
  position: absolute;
  top: 70px;
  left: 75px;
  width: 384px;
  color: #fff;
  font-family: 'Teko', sans-serif;
  font-size: 60px;
  font-weight: 500;
  line-height: 0.9;
  text-transform: uppercase;
  letter-spacing: 2.73px;
  display: block;
}

.banners_bottom__Sunset__discount {
  width: 143px;
  position: absolute;
  right: 38px;
  bottom: 78px;
  color: #ffffff;
  font-family: 'Teko';
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  display: block;
}


.subscribe-wrapper {
  margin-top: 40px;
}

.subscribe {
height: 445px;
position: relative;
}

.subscribe__img {
width: 100%;
height: 550px;
-o-object-fit: cover;
   object-fit: cover;
-o-object-position: center;
   object-position: center;
}


.subscribe__overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 550px;
background-color: rgba(0,76,255,0.75);
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
        -ms-flex-pack: center;
    justify-content: center;
-webkit-box-align: center;
        -ms-flex-align: center;
    align-items: center;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
        -ms-flex-direction: column;
    flex-direction: column;
}

.subscribe__title {
color: #ffffff;
font-family: 'Teko' , sans-serif ;
font-size: 97px;
font-weight: 700;
line-height: 1;
text-transform: uppercase;
margin-bottom:100px;
}


.subscribe__form {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
width: 900px;
}

.subscribe__input {
background-color: #ffffff;
padding: 0;
color: #707070;
font-family: 'Montserrat' , sans-serif;
font-size: 19px;
border: none;
padding: 0 44px;
-webkit-box-flex: 2;
        -ms-flex-positive: 2;
    flex-grow: 2;
}

.subscribe__button {
        width: 180px;
        height: 62px;
        background-color: #004cff;
        color: #ffffff;
        font-family: "Montserrat - Semi Bold";
        font-size: 19px;
        font-weight: 600;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        transition: background-color 0.5s ease-in ;
        -webkit-transition: background-color 0.5s ease-in ;
        -moz-transition: background-color 0.5s ease-in ;
        -ms-transition: background-color 0.5s ease-in ;
        -o-transition: background-color 0.5s ease-in ;
       -ms-flex-negative: 0;
           flex-shrink: 0;
}

.subscribe__button:hover {
  color: #3471ff;
}


.section-service {
  padding-top: 104px;
  padding-bottom: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-service__container {
  margin-left: auto;
  margin-right: auto;
  width: 1270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}


.service-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
          -ms-flex-pack: justify;
      justify-content: space-between;
  width: 338px;
  height: 165px;
  border: 3px solid #707070;
  background-color: #ffffff;
  color: #000;
  padding-left: 30px;
  padding-bottom: 17px;
  padding-right: 30px;
  margin-top: 104px;
  padding-top: 23px;
}

.service-block__background {

}

.Track {

  padding-top: 12px;
  padding-bottom: 16px;
}

.service-block__description {
  width: 144px;
  margin-top: -26px;
  padding-top: 10px;
  margin-bottom: 7px;
}


.service-block__title {
color: #262626;
font-size: 13px;
font-weight: 700;
line-height: 1.44;
min-height: 40px;
}


.service-block__text {
color: #707070;
font-size: 11px;
font-weight: 400;
line-height: 1.5;
width: 153px;
}

.Money {

  padding-top: 9px;
  padding-bottom: 9px;
}

.operator {
  
  padding-top: 7px;
  padding-bottom: 10px;
}


.gallery {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
        -ms-flex-pack: justify;
    justify-content: space-between;
}

.gallery-item {
  width: 33.33%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position:center;
     object-position:center;
}


.footer {
padding-top: 120px;

}

.footer__row {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
        -ms-flex-pack: justify;
    justify-content: space-between;

margin-top: 80px;
}

.footer__column {
max-width: 250px;
margin-right: 110px;
}

.footer__title-About_us {
width: 116px;
height: 18px;
color: #ffffff;
font-family: "Montserrat - Semi Bold";
font-size: 25px;
font-weight: 400;
line-height: 30px;
}

.footer__group {
width: 270px;

}

.footer__title-Follow_us {
width: 118px;
height: 18px;
color: #ffffff;
font-family: "Montserrat - Semi Bold";
font-size: 25px;
font-weight: 400;
line-height: 30px;
}

.social_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
          -ms-flex-pack: justify;
      justify-content: space-between;
}

.footer__title-Info {
width: 148px;
height: 19px;
color: #ffffff;
font-family: "Montserrat - Semi Bold";
font-size: 25px;
font-weight: 400;
line-height: 30px;
}

.footer__text {
width: 270px;
height: 87px;
color: #ffffff;
font-family: Montserrat;
font-size: 19px;
font-weight: 400;
line-height: 33.75px;
margin-bottom: 68px;
}

.footer__list {
margin: 0;
padding: 0;
list-style: none;
color: #ffffff;
font-size: 19px;
font-weight: 400;
line-height: 1.5;
}

.footer__list-item {
margin-bottom: 10px;
}

.footer__logo {
  padding-top: 30px;
  margin-bottom: 45px;
}

.footer_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
          -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 100px;
}

.copyright {
  max-width: 1306px;
border-top: 2px solid #b2b2b2;
  margin-top: -83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
          -ms-flex-pack: justify;
      justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}


.copyright__row {
  margin-top: 41px;
    width: 1142px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
            -ms-flex-pack: justify;
        justify-content: space-between;
    max-width: 1600px;
}


.copyright__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 16px;
}

.copyright__links-item {
  margin-right: 44px;
 }

.copyright__links-item a {
font-size: 19px;
line-height: 1.7;
color: #b2b2b2;
letter-spacing: 0.13px;
text-decoration: none;
}

.copyright__text {
text-decoration: none;
padding-right: 119px;
color: #b2b2b2;
font-size: 19px;
font-weight: 600;
line-height: 1.7;
letter-spacing: 0.13px;
}









